<div id="container">
  <mat-card>
    <mat-card-title>Todos</mat-card-title>
    <mat-card-content>
      <mat-list>
        <mat-list-item *ngFor="let todo of todos$ | async">
          <h4 matLine>
            <mat-checkbox
            (change)="onChangeTodoStatus(todo.id)"
              [checked]="todo.isClosed"
            ></mat-checkbox>
            <span [ngClass]="{ 'isDone': todo.isClosed}">{{ todo.title }}</span>
          </h4>
          <a mat-button routerLink="/details/{{ todo.id }}">Détails</a >
        </mat-list-item>
      </mat-list>
    </mat-card-content>
  </mat-card>
</div>
