.container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%; /* S'assurer que le conteneur occupe toute la hauteur */
  }
  
  #detailsBack {
    margin-top: auto; /* Pousse l'élément vers le bas */
  }